@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout/_Layout.cshtml";
}

<h2>请输入客户信息</h2><br />

<form class="layui-form layui-form-pane" action=""  lay-filter="addGoodsForm" >
  <div class="layui-form-item">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-block">
      <input type="text" name="CustomerName" autocomplete="off" placeholder="姓名" class="layui-input" style="width:500px" lay-verify="username">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">身份证号</label>
    <div class="layui-input-inline">
      <input type="text" name="CustomerIDNumber"  lay-verify="identity" placeholder="请输入" autocomplete="off" class="layui-input" style="width:500px">
    </div>
  </div>
  
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">日期选择</label>
      <div class="layui-input-block">
        <input type="text" name="CustomerInDate" id="date1" autocomplete="off" class="layui-input">
      </div>
    </div>到
    <div class="layui-inline">
      <label class="layui-form-label">日期选择</label>
      <div class="layui-input-inline">
        <input type="text" name="CustomerOutDate" autocomplete="off" class="layui-input" id="date2">
      </div>
    </div>
  </div>

    <div class="layui-form-item">
    <label class="layui-form-label">入住人数</label>
    <div class="layui-input-inline">
      <input type="text" name="CustomerPeoper" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
    </div>
  </div>

    <div class="layui-form-item">
    <label class="layui-form-label">操作员</label>
    <div class="layui-input-block"style="width:500px">
      <select name="WorkerID" lay-filter="aihao" >
        <option value=""></option>
        <option value="1">张小河</option>
        <option value="5" selected="">王仁丰</option>
         <option value="4">李月月</option>
      </select>
    </div>
  </div>

  
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">交付金额</label>
      <div class="layui-input-inline" style="width: 200px;">
        <input type="text" name="CustomerPrice" placeholder="￥" autocomplete="off" class="layui-input">
      </div>
    
  </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">顾客身份</label>
    <div class="layui-input-block"style="width:500px">
      <select name="CTypeID" lay-filter="aihao" >
        <option value=""></option>
        <option value="2">VIP</option>
        <option value="3" selected="">用户</option>
         <option value="4">VIP</option>
      </select>
    </div>
  </div>

      <div class="layui-form-item">
    <label class="layui-form-label">房间号</label >
    <div class="layui-input-block" style="width:500px">
      <select name="RoomNID" lay-filter="aihao" style="width:500px">
        <option value=""></option>
        <option value="1002">1002</option>
        <option value="1003" selected="">1003</option>
           <option value="1004">1004</option>
           <option value="1007">1007</option>
           <option value="1008">1008</option>
       
      </select>
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">行内选择框</label>
    <div class="layui-input-inline">
      <select name="CustomerAddress">
        <option value="">请选择省</option>
        <option value="浙江" selected="">浙江省</option>
        <option value="浙江省">江西省</option>
        <option value="福建省">福建省</option>
      </select>
    </div>
    <div class="layui-input-inline">
      <select name="quiz2">
        <option value="">请选择市</option>
        <option value="杭州">杭州</option>
        <option value="宁波" disabled="">宁波</option>
        <option value="温州">温州</option>
        <option value="温州">台州</option>
        <option value="温州">绍兴</option>
      </select>
    </div>
    <div class="layui-input-inline">
      <select name="quiz3">
        <option value="">请选择县/区</option>
        <option value="西湖区">西湖区</option>
        <option value="余杭区">余杭区</option>
        <option value="拱墅区">临安市</option>
      </select>
    </div>
  </div>
  
  <div class="layui-form-item" pane="">
    <label class="layui-form-label">性别</label>
    <div class="layui-input-block">
      <input type="radio" name="CustomerSex" value="男" title="男" checked="">
      <input type="radio" name="CustomerSex" value="女" title="女">
      <input type="radio" name="CustomerSex" value="禁" title="禁用" disabled="">
    </div>
  </div>
  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">备注</label>
    <div class="layui-input-block">
      <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <button class="layui-btn" lay-submit="Sub_Mit" lay-filter="Sub_Mit" >提交顾客信息</button>
  </div>
</form>
<script src="~/Js/Layui/js/layui/layui.all.js"></script>

<script>
    layui.use(['element', 'jquery', 'form', 'layer', 'laydate'], function () {
        var element = layui.element;
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        //事件日期
        laydate.render({
            elem: '#date2'
        });
        laydate.render({
            elem: '#date1'
        });

        //表单提交
        form.on('submit(Sub_Mit)', function (data) {

            $.ajax({
                url: '/Room/AddCustomer',
                type: 'post',
                data: data.field,//layui当前容器的全部表单字段，名值对形式：{name: value}
                cache: false,
                success: function (result) {

                    if (result.code == 0) {
                        top.layer.alert(result.msg)
                        form.val('addGoodsForm', {
                            "CustomerName": '',
                            "CustomerIDNumber": '',
                            "CustomerOutDate": '',
                            "CustomerPeoper": '',
                            "WorkerID": '李月月',
                            "CustomerSex": '男',
                        })

                    }

                    else {

                        top.layer.alert(result.msg)
                    }

                }



            });
            return false;

        });
        //验证
        form.verify({
            username: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '用户名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字';
                }
            }
            })
    })
   </script>