@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout/_Layout.cshtml";
}


<h2>请输入员工信息</h2>
<br />
<br />
<form class="layui-form" action=""  lay-filter="addGoodsForm" >


  <div class="layui-form-item">
    <label class="layui-form-label">头像</label>
    <div class="layui-input-block">
   <div class="layui-upload">
  <button type="button" class="layui-btn" id="test1">上传图片</button>
  <div class="layui-upload-list">
    <img class="layui-upload-img" id="demo1" style="width:100px;height:100px;">
   
  </div>
</div>   
  </div>
 



     <div class="layui-form-item">
    <label class="layui-form-label">姓名</label>
    <div class="layui-input-block">
      <input type="text" name="EName"   lay-verify="required" placeholder="请输员工姓名" autocomplete="off" class="layui-input" style="width:500px">
    </div>
  </div>

         <div class="layui-form-item">
    <label class="layui-form-label">身份证号</label>
    <div class="layui-input-block">
      <input type="text" name="ENameNumber"   lay-verify="identity" placeholder="请输员工身份证号" autocomplete="off" class="layui-input"  style="width:500px">
    </div>
  </div>

         <div class="layui-form-item">
    <label class="layui-form-label">工资</label>
    <div class="layui-input-block">
      <input type="text" name="ENamePage"   lay-verify="required" placeholder="请输员工工资" autocomplete="off" class="layui-input"  style="width:500px">
    </div>
  </div>

   
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-inline">
      <input type="password" name="password"  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">密码格式大于5个字符小于10个</div>
  </div>


    <div class="layui-form-item">
    <label class="layui-form-label">职位</label>
    <div class="layui-input-block"  style="width:500px">
      <select name="ENamePositon" lay-verify="required">
        <option value=""></option>
        <option value="普通员工">普通员工</option>
        <option value="经理">经理</option>
        <option value="食品经理">食品经理</option>
       
      </select>
    </div>
  </div>

     <div class="layui-form-item">
    <label class="layui-form-label">性别</label>
    <div class="layui-input-block">
      <input type="radio" name="sex" value="男" title="男">
      <input type="radio" name="sex" value="女" title="女" checked>
    </div>
  </div>


      <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="Sub_Mit" lay-filter="Sub_Mit">提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script src="~/Js/Layui/js/layui/layui.all.js"></script>

<script>
    layui.use(['element', 'jquery', 'form', 'layer', 'upload'], function () {
        var element = layui.element;
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        var upload = layui.upload;
        var uploadInst = upload.render({
            elem: '#test1'
    , url: '/upload/'
    , before: function (obj) {
        //预读本地文件示例，不支持ie8
        obj.preview(function (index, file, result) {
            $('#demo1').attr('src', result); //图片链接（base64）
        });
    }
    , done: function (res) {
        //如果上传失败
        if (res.code > 0) {
            return layer.msg('上传失败');
        }
        //上传成功
    }
    , error: function () {
        //演示失败状态，并实现重传
        var demoText = $('#demoText');
        demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
        demoText.find('.demo-reload').on('click', function () {
            uploadInst.upload();
        });
    }
        });


        //表单提交
        form.on('submit(Sub_Mit)', function (data) {
          
            $.ajax({
                url: '/AddEx/AddExpress',
                type: 'post',
                data: data.field,//layui当前容器的全部表单字段，名值对形式：{name: value}
                cache: false,
                success: function (result) {
                   
                    if (result.code == 0) {
                        top.layer.alert(result.msg)
                        form.val('addGoodsForm', {
                            "EName": '',
                            "ENamePage": '',
                            "ENameNumber": '',
                            "password": '',
                            "ENamePositon": '普通员工',
                            "sex": '男',
                    })

                    }

                    else {

                        top.layer.alert(result.msg)
                    }

                }



            });
      return false;  

        });
        //表单验证


    })
</script>